<app-container name="Personal Note">
    <div >
        <div class="general">
            <div class="details">
                <app-attribute-item [name]="'User Login'" [value]="user"></app-attribute-item>
                <app-attribute-item [name]="'Nama'" [value]="'Michael Hans'"></app-attribute-item>
                <app-attribute-item [name]="'NIM'" [value]="'23522011'"></app-attribute-item>
                <div *ngIf="editMode; else viewMode">
                    <quill-editor [(ngModel)]="htmlText"
                                    placeholder="Enter Text"
                                    [modules]="quillConfig"
                                    (onSelectionChanged)="onSelectionChanged($event)"
                                    (onContentChanged)="onContentChanged($event)">
                    </quill-editor>
                </div>
                <ng-template #viewMode>
                    <h4>Your Personal Note</h4>
                    <div class="note" [innerHTML]="htmlText"></div>
                </ng-template>
                <button class="noteButton" (click)="changeMode()" style="margin-top: 10px;">Edit</button>
            </div> 
        </div>
    </div>
    <app-messages></app-messages>
</app-container>