<app-container name="Employees Homepage">
    <div class="general">
        <div class="menu">
            <h3><a [routerLink]="'/company-profile'">Company Profile</a></h3>
        </div>
        <div class="menu">
            <h3><a [routerLink]="'/employment-detail'">Employment Detail</a></h3>
        </div>
        <div class="menu">
            <h3><a [routerLink]="'/personal-detail'">Personal Detail</a></h3>
        </div>
        <div class="menu">
            <h3><a [routerLink]="'/personal-note'">Personal Note</a></h3>
        </div>
    </div>
    <app-messages></app-messages>
</app-container>