<div *ngIf="employmentDetail">
    <h2>Data Perekrutan</h2>   
    <app-attribute-item [name]="'NIK'" [value]="employmentDetail.nik"></app-attribute-item>
    <app-attribute-item [name]="'Tanggal Bergabung'" [value]="employmentDetail.joinDate"></app-attribute-item>
    <app-attribute-item [name]="'Lokasi Penerimaan'" [value]="employmentDetail.location"></app-attribute-item>
    <app-attribute-item [name]="'Referensi Pekerjaan'" [value]="employmentDetail.reference"></app-attribute-item>
    <app-attribute-item [name]="'Tanggal Mulai'" [value]="employmentDetail.startDate"></app-attribute-item>
    <app-attribute-item [name]="'Pengganti'" [value]="employmentDetail.pengganti"></app-attribute-item>
    <app-attribute-item [name]="'Vendor'" [value]="employmentDetail.vendor"></app-attribute-item>
</div>