h4 {
    margin: 0;
}

p {
    margin-top: 10px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: 20px;
}

.companyProfile-pic {
    text-align: center;
    margin-bottom: 50px;
}