<app-container name="Company Profile">
  <div *ngIf="companyProfile$ | async as companyProfileX">
    <app-attribute-item [name]="'User Login'" [value]="user"></app-attribute-item>
    <div class="companyProfile-pic">
        <img [src]="companyProfileX.imgUrl" />
        <h3>{{companyProfileX.name}}</h3>
    </div>
  
    <app-attribute-item [name]="'Alamat'" [value]="companyProfileX.alamat"></app-attribute-item>
    <app-attribute-item [name]="'Kota / Kabupaten'" [value]="companyProfileX.kota"></app-attribute-item>
    <app-attribute-item [name]="'Provinsi'" [value]="companyProfileX.provinsi"></app-attribute-item>
    <app-attribute-item [name]="'Negara'" [value]="companyProfileX.negara"></app-attribute-item>
    <app-attribute-item [name]="'Kode Pos'" [value]="companyProfileX.kodepos"></app-attribute-item>
    <app-attribute-item [name]="'Telepon'" [value]="companyProfileX.telepon"></app-attribute-item>
  </div>
  <app-messages></app-messages>
  <ctp-datepicker></ctp-datepicker>
</app-container>
